* {
  box-sizing: border-box;
}

body {
    background: #E6CCBE;
    max-width: 1024px;
    margin: auto;
}

header {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.75em;
  color: white;
  text-align: center;
  background: #A07178;
  padding: 35px;
  border: 5px solid white;
  margin: 1em auto;
}

main {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  color: white;
  text-align: center;
  width: 600px;
  margin: auto;
}

main div {
    background: #B69196;
    margin: 30px 10px;
    border: 5px solid white;
}

a {
  color: white;
}

.image1, .image2, .image3 {
  max-width: 300px;
}

footer {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  color: white;
  background: #A07178;
  padding: 35px;
  border: 5px solid white;
  text-align: center;
  grid-row: 1 / 4;
}

.description {
    padding: 0 4em;
}