body {
  font-size: 20px;
  font-family: 'Pattaya', sans-serif;
}

header,
main,
footer {
  max-width: 900px;
  margin: 0 auto;
}

header,
footer {
  border: 1px solid rgb(2, 112, 61);
  border-radius: 15px;
  padding: 1rem;
  text-align: center;
  color: white;
  background-color: rgb(5, 77, 53);
}

header h1 {
  color: white;
}

header img {
  width: 200px;
  height: auto;
}

footer a {
  color: white;
}

#lastUpdate {
  color: yellow;
}
