body {
  font-size: 16px;
  font-family: monospace;
}

header,
main,
footer {
  border: 1px solid rgb(2, 112, 61);
  padding: 1rem;
  background-color: rgb(5, 77, 53);
}

header h1 {
  color: white;
}

header img {
  float: right;
  width: 200px;
  height: auto;
}

footer p {
  color: white;
}

footer p a {
  color: white;
}
