@media only screen and (min-width: 62.5rem) {

    nav ul {
        max-width: 1000px;
        margin: 0 auto;
    }

    main {
        max-width: 1000px;
        margin: 0 auto;
      }

    .weather-report {
        position: absolute;
        max-width: 200px;
        top: 320px;
	    left: 285px;
    }

    .forecast-images {
        display: block;
    }

    .forecast-images ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .article {
        overflow: hidden;
    }

    .article img {
        float: right;
        margin-left: 2%;
    }
    
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    .map {
        grid-column: 1 / 2;
        grid-row: 1;
    }

    .contact {
        grid-column: 2 / 3;
    }

    .copy {
        grid-column: 1 / 3;
    }


}