@media only screen and (min-width: 62.5rem) {

    nav ul {
        max-width: 800px;
        margin: 0 auto;
    }

    main {
        max-width: 800px;
        margin: 0 auto;
        color: white;
      }

    .forecast {
        background-color: #483d3f;
    }
    
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    .map {
        grid-column: 1 / 2;
        grid-row: 1;
    }

    .contact {
        grid-column: 2 / 3;
    }

    .copy {
        grid-column: 1 / 3;
    }


}