body {
  background-color: #f4ebd9;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 16px;
}

header {
  background-color: #483d3f;
  color: #fff;
  border: 4px solid #a39a92;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  max-width: 100px;
}

header,
nav,
footer {
  max-width: 100%;
  margin: 16px auto;
}

nav button {
  margin: 0.2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #fff;
}

nav {
  background-color: #483d3f;
  color: #fff;
  border: 4px solid #a39a92;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  align-items: center;
}

nav ul li a:hover {
  background-color: #a39a92;
}

nav ul.hide {
  display: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

main section {
  margin: 16px 0;
}
.weather-report,
.forecast,
.article {
  background-color: #483d3f;
  border: 4px solid #a39a92;
  color: white;
  padding: 16px;
}

footer {
  background-color: #483d3f;
  color: #fff;
  border: 4px solid #a39a92;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

h1 {
  font-size: 2rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 0.95em;
}

nav ul li a:hover {
  background-color: #77685d;
}

footer a {
  color: #fff;
}
