@media only screen and (min-width: 32.5em) {

	#banner {
		font-size: 1.25rem;
	}

    header img {
		width: 100%;
	}

	.headings h1 {
		font-size: 3rem;
	}

	.m {
		letter-spacing: 1.5pt;
		font-size: larger;
		margin-left: 17px;
	}

	/*------------ NAVIGATION ------------*/
	.navigation {
		display: flex;
		align-items: center;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}

	/*------------ HOME PAGE ------------*/
	section.cards {
		margin: 16px auto;
	}

	section.cards section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 600px;
		margin: 16px auto;
		font-size: 1rem;
		justify-self: center;
	}

	section.cards section div {
		margin: auto 0;
	}

	section.cards section:nth-child(even) img {
		grid-column: 1 / 2;
		grid-row: 1;
	}

	section.cards section:nth-child(even) div {
		grid-column: 2 / 3;
		grid-row: 1;
	}



	/* main section.cards div h2 {
		font-size: 1.5rem;
	} */

	main section.cards div img {
		width: 80%;
		margin: 10% auto;
	}

	/*------------ HERO IMAGE ------------*/
	section.hero-image {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	section.hero-image picture {
		grid-column: 1 / -1;
		grid-row: 1;
		
	}

	/*------------ WEAHTER SUMMARY ------------*/
	div.weather-summary {
		width: 250px;
		height: 200px;
		margin-left: 16px;
		margin-top: 16px;
		margin-bottom: 8px;
		grid-column: 1;
		grid-row: 1;
		z-index: 0;
		font-size: 1rem;
	}

	div.weather-summary h2, 
	div.weather-summary p {
		margin: 8px auto;
	}

	/*------------ FORECAST ------------*/
	section.forecast {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(3, minmax(50px, auto));
	}

	section.forecast h2 {
		grid-column: 1 / span 5;
		grid-row: 1;
	}

	section.forecast p img {
		display: block;
		margin: 0 auto;
	}

	section.forecast p.description {
		grid-column: 1 / span 5;
		grid-row: 2;
	}

	section.forecast p.one {
		grid-column: 1 / 2;
		grid-row: 3;
	}

	section.forecast p.two {
		grid-column: 2 / 3;
		grid-row: 3;
	}

	section.forecast p.three {
		grid-column: 3 / 4;
		grid-row: 3;
	}

	section.forecast p.four {
		grid-column: 4 / 5;
		grid-row: 3;
	}

	section.forecast p.five {
		grid-column: 5 / 6;
		grid-row: 3;
	}

	section.forecast p:not(:nth-child(2)) {
		width: 100%;
		margin: 16px auto;
		padding: 8px;
		border: 4px solid #a39a92;
	  }

	/*------------ ARTICLE ------------*/
	article div.article-heading {
		width: 500px;
		text-align: left;
		margin-left: 72px;
		margin-right: 0;
	  }

	article figure.article-image {
		width: 70%;
		margin: 0 auto;
		float: right;
	}

	article.clearfix::after {
		content: "";
		clear: both;
		display: table;
	}

	/*------------ EVENTS ------------*/
	section.events {
		width: 100%;
	}
	/*------------ GALLERY ------------*/
	#weather-gallery {
		width: 80%;
        margin: 0 auto;
        text-align: center;
		display: grid;
		grid-template-columns: 1fr 1fr;
    }

	#weather-gallery figure {
		margin: 0 auto;
    }

    #weather-gallery picture img {
		width: 70%;
        margin: 8px;
    }

	/*------------ FOOTER ------------*/
	footer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		/* grid-template-rows: 500px 500px; */
	}

	footer div.map {
		grid-column: 1 / 2;
		grid-row: 1;
	}

	footer div.contact {
		grid-column: 2 / 3;
		grid-row: 1;
	}

	footer div.map img {
		margin: 0 auto;
		width: 60%;
	}

	footer div.copy {
		grid-column: span 2;
	}
}