* {box-sizing: border-box;}

body {
    background-color: #f4ebd9;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 16px;
  }

/*------------ ASIDE ------------*/
#banner {
  max-width: 100%;
  background-color: #FFDD4A;
  color: #000;
  margin: 16px auto;
  padding: 16px;
  text-align: center;
}

/*------------ HEADER ------------*/

header {
    background-color: #483d3f;
    color: #fff;
    padding: 5px 0;
    border: 4px solid #a39a92;
    display: flex;
    align-items: center;
    justify-content: center;
  }

header img {
    width: 80px;
    height: auto;
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
	font-size: 1.6rem;
	margin: 0 0 0 17px;
}

.m {
	font-style: italic;
	letter-spacing: 1pt;
    margin-top: 10px;
	margin-left: 20px;
	font-size: .9rem;
}

/*------------ NAVIGATION ------------*/
nav {
	margin: 16px auto;
	max-width: 100%;
	background-color: #483d3f;
    border: 4px solid #a39a92;
}
.navigation {
	list-style: none;
	padding: 0;
  margin: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 1.25rem;
	text-align: left;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
}

.navigation a:hover {
	background-color: #a39a92;
}

.responsive li {
	display: block;
}

.navigation li a.active {
    background-color: #a39a92;
}

/*------------ HEADING ------------*/
main h2.page-name {
  text-align: center;
}

/*------------ HERO IMAGE ------------*/
.hero-image picture img {
    width: 100%;
    filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, .7));
}

/* @keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-100px);
        -moz-transform: translatex(-100px);
        -o-transform: translatex(-100px);
        transform: translatex(-100px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
.in-left {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-duration:1s;
    animation-delay: 1s;
} */

/*------------ HOME PAGE ------------*/

main section.cards section {
    max-width: 100%;
    background-color: #483d3f;
    color: #fff;
    padding: 5px 0;
    border: 4px solid #a39a92;
    text-align: center;
    font-size: 0.75rem;
    margin: 16px auto;
    padding: 8px;
}

main section.cards section img {
    width: 90%;
    margin: auto 5%;
}

/*------------ WEATHER SUMMARY ------------*/
div.weather-summary {
    max-width: 100%;
    background-color: #483d3f;
    color: #fff;
    margin: 16px auto;
    padding: 5px 0;
    border: 4px solid #a39a92;
    text-align: center;
    font-size: 1.25rem;
}

/* div.fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  } */

/*------------ ARTICLE ------------*/
article {
  width: 100%;
  margin: 0 auto;
  background-color: #483d3f;
  color: #fff;   
  border: 4px solid #a39a92;
}

article div.article-heading {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

article div.article-heading h2 {
  margin-bottom: 8px;
}

article div.article-heading p{
  margin-top: 0;
}

article div.story {
  width: 80%;
  margin: 0 auto;
  line-height: 1.6;
}

article figure.article-image img {
  width: 90%;
  margin: 0 5%;
  margin-bottom: 16px;
}

/*------------ EVENTS ------------*/
section.events {
  max-width: 100%;
  background-color: #483d3f;
  color: #fff;
  padding: 5px 0;
  border: 4px solid #a39a92;
  text-align: center;
  margin: 16px auto;
  padding: 8px;
}

section.events hr {
  border: 1px solid #a39a92;
}

/*------------ STORM CENTER FORM ------------*/
form fieldset {
  margin: 2rem 0;
  border: 1px solid #483d3f;
  border-radius: 10px;
  padding: 0.5rem 2%;
}

form legend {
  font-size: 1.25rem;
  color: #483d3f;
  margin: 0 1rem;
  padding: 0 0.5rem;
}

form label.top, form label.storm, form div {
  display: block;
  padding-top: 1rem;
  color: #000;
}

form label.top input, form label.storm input, form label.storm select {
  display: block;
  font-size: 1rem;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: #555;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
  display: block;
  padding: 0.75rem 0;
  color: #555;
}

form legend.danger {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #555;
}

form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

form label textarea {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

form input.sbutton {
  border: none;
  margin: 0 auto;
  background-color: #9c2c13;
  color: white;
  font-size: 1rem;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
  transition: all 0.3s ease-in;
}

form input.sbutton:hover {
  width: 97%;
  box-shadow: -1px 6px 10px 0 rgba(120, 60, 20, .2);
}

article.thanks {
  text-align: center;
}
/*------------ GALLERY ------------*/
section.gallery-header {
  display: block;
  text-align: center;
}
#weather-gallery {
  width: 100%;
}

#weather-gallery picture {
  text-align: center;
}

#weather-gallery picture img {
  max-width: 100%;
  margin: 0 auto;
}

#weather-gallery picture img[data-src] {
  filter: blur(0.2em);
}

#weather-gallery picture img {
  filter: blur(0em);
  transition: filter 0.5s;
}

#weather-gallery figure figcaption {
  display: none;
}

.weather-report,
.forecast-images,
.article {
  background-color: #483d3f;
  border: 4px solid #a39a92;
  color: white;
  padding: 16px;
}

.weather-report{
  display: block;
}

/*------------ WIREFRAMES ------------*/
picture.wire {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 16px auto;
}

/*------------ FORECAST ------------*/
section.forecast {
  width: 100%;
    background-color: #483d3f;
    color: #fff;
    margin: 16px auto;
    padding: 16px;
    border: 4px solid #a39a92;
    text-align: center;
    font-size: 1rem;
}

section.forecast p:not(:nth-child(2)) {
  width: 50%;
  margin: 16px auto;
  padding: 8px;
  border: 4px solid #a39a92;
}

section.forecast p img {
  display: block;
  margin: 0 auto;
}

/*------------ FOOTER ------------*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 16px auto;
    padding: 16px;
	max-width: 100%;
	background-color: #483d3f;
    border: 4px solid #a39a92;
    color: #fff;
}

footer div {
    text-align: center;
}

footer div.map img {
    width: 80%;
    margin: 10% 0;
}

footer div.copy p a {
    color: #fff;
}
