@media only screen and (min-width: 37.5em) {
    nav ul {display: flex;}
    nav ul li {flex: 1 1 100%}
    nav a {font-size: 1rem;}

    main {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    section {
        margin: 0;
    }

    section:nth-child(3) {
        grid-column: span 2;
    }

    main picture {
        display: block;
        align-items: center;
        justify-content: center;
    }

    img {
        border: 4px solid #fff;
    }

    .color-scheme {
        grid-column: span 2;
    }
}